/* Bootstrap CSS addins */

.navbar-center {
    width: 100%;
    text-align: center;
}

.btn-group-justified > .btn {
    width: 25%;
}

.issue-panel-icon {
    width:15px; 
    height:15px;
    margin-right: 4px;
    vertical-align: -1px;
}

.sub-org-icon {
    width:15px; 
    height:15px;
	vertical-align: -1px;
	margin-right: 4px;
}

.votebutton-box {
    text-align: center;
    font-weight: 600;
    color: #494949;
}

.splash {
    padding: 80px 0 40px;
    background-color: rgba(70, 72, 82, 0.7);
	background-image: url("/Content/Images/splash.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: #FFF;
    text-align: center;
    height: 300px;
}

.splash-landing {
    padding: 70px 0 40px;
    height: 350px;
}
.splash-blurbs {
    background-color: #rgba(70, 72, 82, 0.7);
    background-image: none;
}
.splash-2 {
    padding: 350px 0 0px;
    background-image: url("/Content/Images/splash2.jpg");
    background-attachment: scroll;
    height: 650px;
}
.splash-3 {
    padding: 30px 0 100px;
    background-image: url("/Content/Images/splash3.jpg");
}
.splash-4 {
    padding: 30px 0 100px;
    background-image: url("/Content/Images/splash4.jpg");
}
.splash-5 {
    padding: 30px 0 100px;
    background-image: url("/Content/Images/splash5.jpg");
}

/*.splash {
	height: 440px;
	position: relative;
	margin-top: -5em;
}

.splash-back-darken {
	width: 100%;
	height: 100%;
	background: rgba(70, 72, 82, 0.7);
	position: absolute;
}

.splash-back {
    background: url("/Content/Images/splash.jpg") no-repeat center center fixed;
    background-size: cover;
	width: 100%;
	height: 100%;
}
.splash-back-2 {
    background: url("/Content/Images/splash2.jpg") no-repeat center center fixed;
    background-size: cover;
}
.splash-back-3 {
    background: url("/Content/Images/splash3.jpg") no-repeat center center fixed;
    background-size: cover;
}
.splash-back-4 {
    background: url("/Content/Images/splash4.jpg") no-repeat center center fixed;
    background-size: cover;
}
.splash-back-5 {
    background: url("/Content/Images/splash5.jpg") no-repeat center center fixed;
    background-size: cover;
}*/

#notifications-shade {
    position: absolute;
    top: 50px;
    right: 140px;
    max-width: 300px;
}

.callout {
    position: relative;
    float: right;
    margin-right:20px;
    z-index: 10000;
}

.notifications-panel {
    position: relative;
    top: 10px;
    font-size: 12px;
}

.notification-icon {
    width: 35px;
}

.header-user-icon {
	height:40px;
    margin-top:10px;
}

/*.navbar-center > li {
    float: none;
    display: inline-block;
}*/

.col-centered{
    float: none;
    margin: 0 auto;
}

.landing-blurbs {
    color: #FFF;
}

.landing-blurb {
    max-width: 267px;
}

.landing-blurb-image {
    width: 60px;
    display: block;
    margin: auto;
}

.landing-blurb-text {
    text-align: center;
    max-width: 237px;
}

.navbar.transparent.navbar-inverse .navbar-inner {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.main-container {
	max-width: 1000px;
	margin-top: 80px;
}

.wrap {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto 0px;
}

#footer {
    background-color: #494949;
    color: #e6e6e6;
    text-decoration: none;
}

.footer-row {
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer-list {
	list-style: outside none none;
	line-height: 1.5em;
}

.footer-link {
	font-size: 0.9em;
	text-decoration: none;
	color: #e6e6e6;
}

.footer-link:hover {
	text-decoration: none;
	color: #e6e6e6;
}

.landing-container {
    max-width: 1200px;
    margin-top: 30px;
}

.media-object {
	width: 64px;
}

.navbar-logo {
	margin-top: 10px;
	height: 40px;
	margin-left: 20px;
}

.org-banner-small {
	margin-bottom: 20px;
}

.sidebar-button {
	margin-bottom: 20px;
}

.issue-add-comment {
    margin-top: 20px;
}

/* Old CSS to keep */

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Tahoma', Geneva, Verdana, sans-serif;
}

a {
	text-decoration: none;
	color: #267C89;
}

a:hover {
	text-decoration: none;
	color: #267C89;
}

.page {
	background-color: #E5E5E5;
}

.issue-text {
	margin: 0px 25px 20px 25px;
}

/* Bootstrap Navbar Recolor */

.navbar-custom {
  background-color: #494949;
  border-color: #383838;
  /*background-image: -webkit-gradient(linear, left 0%, left 100%, from(#626262), to(#494949));
  background-image: -webkit-linear-gradient(top, #626262, 0%, #494949, 100%);
  background-image: -moz-linear-gradient(top, #626262 0%, #494949 100%);
  background-image: linear-gradient(to bottom, #626262 0%, #494949 100%);*/
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff626262', endColorstr='#ff494949', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #383838;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
  border-left: 1px solid #383838;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #c0c0c0;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #c0c0c0;
  background-color: #383838;
  /*background-image: -webkit-gradient(linear, left 0%, left 100%, from(#383838), to(#525252));
  background-image: -webkit-linear-gradient(top, #383838, 0%, #525252, 100%);
  background-image: -moz-linear-gradient(top, #383838 0%, #525252 100%);
  background-image: linear-gradient(to bottom, #383838 0%, #525252 100%);*/
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff383838', endColorstr='#ff525252', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #373737;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #383838;
  color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c0c0c0;
    background-color: #383838;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #c0c0c0;
}

/* Old CSS shit */

.page-container {
	min-height: 56em;
}

.page-header {
	background: #494949 none repeat scroll 0% 0%;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 4em;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000000;
}

.page-header-landing {
	background-color: rgba(255, 255, 255, 0.0);
	position: relative;
    margin: 0;
    border-bottom: 0;
}

.logo {
	line-height: 5.8em;
	margin-left: 2.2em;
}

.header-link-container {
	float: right;
	line-height: 3.8em;
	padding-right: 1.5em;
	display: block;
}

.landing-header-link-container {
	position: relative;
	margin-top: -3.2em;
}

.header-link {
	font-family: sans-serif;
	color: #FFF;
	padding-left: 0.5em;
	text-decoration: none;
}



.search-box-form {
	float: left;
	margin-right: 2em;
	width: 23em;
	position: relative;
}

.landing-search-form {
	margin: 1em auto auto auto;
	float: none;
	display: normal;
	width: 50%;
}

.search-submit-button {
	/*content: url("../Content/Images/search-icon-small.png");
	background-image: url("../Content/Images/search-icon-small.png");
	background-repeat: no-repeat;*/
	background-color: transparent;
	border: 0;
	cursor: pointer;
	margin: auto;
	overflow: visible;
	position: absolute;
	top: 1.4em;
	left: 0.2em;
	width: auto;
	height: auto;
}

.landing-search-submit-button {
	top: 0.6em;
}

.search-submit-button-icon {
	height: 1em;
	width: auto;
}

.search-query {
	padding: 0.8em 1em 0.8em 3em;
	width: 25em;
	border-radius: 1.5em;
	border-color: transparent;
}

.landing-search-query {
	width: 91%;
}



.sale-back-img {
	width: 100%;
	z-index: 0;
}

.sale-logo {
	width: 20em;
	margin-top: -24.5em;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.sale-point-area {
	width: 52em;
	position: relative;
	color: white;
	margin-top: 2.5em;
	margin-left: auto;
	margin-right: auto;
	white-space: nowrap;
}

.sale-point {
	width: 15em;
	height: 8em;
	display: inline-block;
	margin-left: 3em;
}

.sale-point-first {
	margin-left: 0em;
}

.sale-image {
	width: 4em;
	height: 4em;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: block;
}

.sale-text {
	display: block;
	text-align: center;
	height: 100%;
	white-space: normal;
	word-break: normal;
}

.main {
	max-width: 65em;
	min-height: 62em;
	display: block;
	padding-top: 5em;
	position: relative;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}

.landing-main {
	padding-top: 1em;
	max-width: 80em;
}

.landing-column {
	width: 25em;
	display: block;
	float: left;
}

.landing-second-col, .landing-third-col {
	margin-left: 2.5em;
}

.first-column {
	width: 50em;
	float: left;
	display: block;
}

.feed-intent {
	font-size: 1.5em;
	font-weight: 600;
	margin: -0.3em 0em 0.5em 1em;
	display: block;
}

.feed-header {
	display: block;
	width: 50em;
	height: 15em;
	border: 1px solid #CCC;
	margin-bottom: 1.5em;
}

.org-banner {
	display: block;
	width: 50em;
	height: 5em;
	border: 1px solid #CCC;
	margin-bottom: 1.5em;
}

.landing-topic-header {
	text-decoration: none;
	color: #267C89;
	margin-left: 1em;
	line-height: 3em;
	font-size: 1.2em;
}

.issue-box {
	height: 6em;
}



.issue-box, 
.issue-body, 
.issue-submit-body, 
.issue-data-body, 
.org-data-body, 
.legal-body, 
.user-edit-body {
	display: block;
	width: 50em;
	border: 1px solid #CCC;
	background-color: #FFF;
	margin-bottom: 1.5em;
}

.issue-box-small {
	width: 25em;
	min-height: 11em;
	height: 12em;
}

.issue-vote-area {
	height: 5em;
	width: 3em;
	margin: 0.5em 1em 0.5em 1em;
	text-align: center;
	float: left;
}

.issue-vote-amount {
	font-size: 1.3em;
	width: 3em;
	line-height: 1.5em;
	margin-left: auto;
	margin-right: auto;
}

.issue-vote-button {
	margin: 0.4em auto auto auto;
}

.issue-main-area {
	float: right;
	width: 45em;
	height: 100%;
	display: table;
}

.issue-main-issue-page {
	height: 6em;
}

.issue-main-area-small {
	width: 20em;
}

.issue-main-cell {
	display: table-cell;
	vertical-align: middle;
}

.issue-title-area {
	height: auto;
	margin-bottom: 0.6em;
	margin-top: -0.5em;
}

.issue-title {
	text-decoration: none;
	color: #2E95A5;
	font-size: 1.1em;
	font-weight: 600;
	vertical-align: middle;
	line-height: normal;
}

.issue-info-area {
	height: 1em;
}

.issue-main-sub-areas {
	margin-right: 1em;
	width: 44em;
	display: block;
}

.issue-main-sub-areas-small {
	width: 19em;
}

.issue-org-cat-topic {
	font-size: 0.9em;
	float: left;
}

.issue-info-icon {
	margin-right: 0.3em;
	vertical-align: -0.3em;
}

.issue-user-date {
	font-size: 0.9em;
	float: right;
	margin-right: 1em;
}

.issue-user-date-small {
	float: left;
	line-height: 2em;
}

.issue-submit-header {
	margin: 1em 0em 1em 1em;
	line-height: 2.5em;
	font-size: 1.5em;
}

.issue-search-form {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: block;
	margin-bottom: 1em;
	height: 2em;
}

.issue-search-submit-button {
	position: absolute;
	margin-left: 0.4em;
	background-color: transparent;
	border: 0;
	z-index: 10000;
}

.issue-search-query {
	padding: 0.5em 1em 0.5em 3em;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
}

.comments-area, .response-box {
	display: block;
	width: 50em;
	border: 1px solid #CCC;
	background-color: #FFF;
	margin-bottom: 1em;
	padding-bottom: 0.5em;
}

.comments-header, .response-header {
	display: block;
	font-size: 0.8em;
	font-weight: 600;
	margin-left: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.comment, .response {
	min-height: 8em;
	display: block;
}

.comment-user-area, .response-user-area {
	float: left;
	width: 8em;
	text-align: center;
}

.comment-user-icon, .response-user-icon {
	width: 4em;
	margin: 1em 2em 0em 2em;
}

.response-user-icon {
	border: 0.2em solid #D8B400;
	margin-left: auto;
	margin-right: auto;
}

.comment-time, .response-time {
	font-size: 0.8em;
}

.comment-text, .response-text {
	float: right;
	width: 41em;
	margin-right: 1em;
	margin-bottom: 1em;
	height: 100%;
}

.icon-helpful, .icon-unhelpful {
	margin-left: auto;
	margin-right: auto;
}

.icon-helpful {
}

.text-helpful, .text-unhelpful {
	font-size: 0.7em;
}

.text-rate {
	font-size: 0.8em;
}

.clear {
	clear: both;
	height: 0em;
	display: block;
}

.comment-separator {
	width: 90%;
	margin-bottom: 1.3em;
	color: #CCC;
	background-color: #CCC;
}

.second-column {
	width: 14em;
	float: right;
	margin-left: 1em;
}

.sub-list-box, .user-page-databox {
	margin-bottom: 1em;
	width: 14em;
	line-height: 1.6em;
	border: 1px solid #CCC;
	background-color: #FFF;
}

.subs-header, .user-databox-header {
	display: block;
	font-size: 0.6em;
	font-weight: 600;
	margin-left: 1em;
	margin-top: 0.5em;
	margin-bottom: 0em;
}

.user-databox-icon {
	width: 3em;
	height: auto;
	margin: 0.3em 0.3em 0em 0.6em;
	float: left;
}

.user-databox-data {
	width: auto;
}

.user-databox-memberdate {
	font-size: 0.75em;
}

.user-actions {
	width: auto;
	margin-top: 0.4em;
	margin-left: 0.7em;
	margin-bottom: 0.6em;
}

.sub-list {
	margin: 0em 0.7em 0.5em 0.7em;
}

.sub {
	color: #2E95A5;
	font-size: 1.1em;
	text-decoration: none;
}



.placeholder {
	border: 1px solid #CCC;
	background-color: #FFF;
	width: 14em;
	min-height: 30em;
}

.footer-container {
	background:  #494949 none repeat scroll 0% 0%;
	display: block;
	box-sizing: border-box;
	height: 15em;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	bottom: 0px;
}

.page-footer {
	max-width: 65em;
	height: 100%;
	padding-top: 2em;
	margin-left: auto;
	margin-right: auto;
	float: none;
	box-sizing: border-box;
	bottom: 0;
	background: transparent none no-repeat scroll right bottom;
}

.footer-column {
	width: 33%;
	float: left;
	margin: 0;
	height: 100%;
	box-sizing: border-box;
	color: #FFF;
}

.tagline {
	color: #FFF;
	text-decoration: none;
	font-size: 0.8em;
}

.address {
	margin-top: 1.8em;
	line-height: 0.8em;
	font-size: 0.9em;
}



.aspnet {
	font-size: 0.9em;
	text-decoration: none;
	color: #FFF;
}