@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Sigil.Models
@model Tuple<List<Org>, List<Product>>
@using Microsoft.AspNet.Identity
<div class="main">
    <div class="first-column">
        @if (Model.Item1.Count != 0)
        {
            <h3>Orgs</h3>
            <ul>

                @foreach (Org org in Model.Item1)
                {
                    <li><a href="/@org.orgURL">@org.orgName</a></li>
                }
            </ul>
        }
        else
        {
            <h3>No Orgs matching your query.</h3>
        }
        @if (Model.Item2.Count != 0)
        {
            <h3>Issues</h3>
            <ul>

                @foreach (Product prod in Model.Item2)
                {

                    <li><a href="@Html.Raw(@Url.Action("ProductPage","Product", new { @orgURL = prod.Org.orgURL, @productURL = prod.ProductURL}))">@prod.ProductName</a></li>
                }
            </ul>
        }
        else
        {
            <h3>No Issues matching your query.</h3>
        }
    </div>
</div>