@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Sigil.Models

@{
    Org thisOrg = ViewBag.thisOrg;
}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="~/Scripts/Graph.js"></script>

<div class="first-column">
    @*<img class="org-banner" src="@(Sigil.Controllers.ImageController<Org>.Get_Banner(thisOrg))"><h1>@thisOrg.orgName</h1>*@
    <article class="org-data-body">
        <div id="chart_panel">
            <div id="org_chart_div" style="width: 600px; height: 350px;">
            </div>
        </div>
        <select id ="selected_data" name="selected_data">
            <option value="Views">Views</option>
            <option value="Votes">Votes</option>
            <option value="Comments">Comments</option>
            <option value="Subscriptions">Subscriptions</option>
            <option value="All">All</option>
        </select>
        <input type="text" id="datepickerStart" name="start" />
        <input type="text" id="datepickerStop" name="stop" />
        <input type="button" value="Get Chart" onclick="Custom_Org_Chart()" />

        </article>
</div>


