<section class="footer-container">
    <footer class="page-footer">
        <div class="footer-column">
            <a href="@Url.Action("Index", "Home")"><img src="../Content/Images/logo-small.png"></a><br>
            <a href="@Url.Action("Index", "Home")" class="tagline">The Feedback Destination</a>
            <p class="address">
                12345 Some St.
                <br></br>
                Tampa FL, 33333
            </p>
        </div>
        <div class="footer-column">
            <ul class="footer-list">
                <li><a href="FrontPage.html" class="footer-list-item">About</a></li>
                <li><a href="@Url.Action("Legal", "Home")" class="footer-list-item">Legal</a></li>
                <li><a href="FrontPage.html" class="footer-list-item">Advertise</a></li>
                <li><a href="FrontPage.html" class="footer-list-item">Support</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <ul class="footer-list">
                <li><a href="FrontPage.html" class="footer-list-item">Twitter</a></li>
                <li><a href="FrontPage.html" class="footer-list-item">Facebook</a></li>
                <li><a href="FrontPage.html" class="footer-list-item">Blog</a></li>
                <li><a href="FrontPage.html" class="footer-list-item">Release Notes</a></li>
                <br>
                <li><a href="http://asp.net" class="aspnet">Powered by ASP.NET</a></li>
            </ul>
        </div>
    </footer>
</section>

