@{ 
    string action = ViewContext.RouteData.Values["action"].ToString();
    string controller = ViewContext.RouteData.Values["controller"].ToString();
    bool transparent = false;
    if (controller == "Home" && (action == "LandingPage" || action == "FeaturesPage"))
    {
        transparent = true;
    }
}


<nav class="navbar navbar-fixed-top @(!transparent ? "navbar-default" : "") @(transparent ? "navbar-transparent" : "")">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a href="@Url.Action("Index", "Home")"><img src="../Content/Images/logo-small.png" class="navbar-logo"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul id="navbar-list" class="nav navbar-nav navbar-right">
                @using (Html.BeginRouteForm("Search Page", FormMethod.Post, new { @class = "navbar-form navbar-left", role = "search" }))
                {
                    <div class="form-group">
                        <input id="searchBox" type="text" value="@Request.Form["searchTerm"]" name="searchTerm" class="form-control" placeholder="Search">
                    </div>
                }
                @{Html.RenderAction("_LoginPartial", "Shared");}
                
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>