
<section class="page-header">
    <a href="@Url.Action("Index", "Home")" class="logo"><img src="../Content/Images/logo-small.png"></img></a>
    <nav class="header-link-container">

        @Html.Partial("_Search")

        @Html.Partial("_LoginPartial")
    </nav>
</section>