<section class="page-header page-header-landing">
    <form class="search-box-form landing-search-form">
        <button class="search-submit-button landing-search-submit-button" type="submit"><img src="../Content/Images/search-icon-small.png"></img></button>
        <input class="search-query landing-search-query" type="text" placeholder="Search for a company, organization, or person"></input>
    </form>
    <nav class="header-link-container landing-header-link-container">
        <a href="FrontPage.html" class="header-link">Log In</a>
        <a href="FrontPage.html" class="header-link">Create Account</a>
    </nav>
</section>
<section class="sale">
    <div class="sale-back-darken"></div>
    <div class="sale-back"></div>
    <!--<img class="sale-back-img" src="../Content/Images/saleback.jpg"></img>-->
    <img class="sale-logo" src="../Content/Images/logo-600.png"></img>
    <div class="sale-point-area">
        <div class="sale-point sale-point-first">
            <img class="sale-image" src="../Content/Images/earth_white.png"></img>
            <p class="sale-text">We connect big and small. Engage with your favorite companies, elected officials, or even your employer.</p>
        </div>
        <div class="sale-point">
            <img class="sale-image" src="../Content/Images/speakerphone_white.png"></img>
            <p class="sale-text">Have a voice in the future. Your feedback matters. Make your thoughts known, and support those of your peers.</p>
        </div>
        <div class="sale-point">
            <img class="sale-image" src="../Content/Images/speedometer_white.png"></img>
            <p class="sale-text">The best gauge of the direction your company should take is customer demand. Know exactly what your users want the most.</p>
        </div>
    </div>
</section>
