@using Sigil.Models

@model List<Subscription>

<div class="second-column">
    <a href="@Url.Action("AddIssue", "Issue")">
        <div class="second-column-box add-issue-box">
            Post an idea, suggestion, or issue
        </div>
    </a>
    <div class="second-column-box">
        <a href="@Url.Action("Index", "Subscriptions")"><span class="subs-header">Y O U R&emsp;S U B S C R I P T I O N S</span></a>
        <div class="sub-list">
            @foreach ( Subscription sub in Model ) {
                <a href="/@sub.Org.orgURL" class="sub"><img class="sub-org-icon" src="../Content/Images/orgicons/microsoft_15.png">@sub.Org.orgName</a><br>
            }
            <!--<a href="OrgPage.html" class="sub">&emsp;&emsp;<img class="sub-org-icon" src="../Content/Images/caticons/surface_15.png">Surface</a><br>-->
        </div>
    </div>
    <div class="placeholder">
        Ads go here.
    </div>
</div>