@using Sigil.Models

@model List<Subscription>

<div class="col-md-3 .col-lg-3">
    <a href="#" class="btn btn-primary btn-block sidebar-button">Subscribe to X Org</a>
    <a href="#" class="btn btn-info btn-block sidebar-button">Submit a thought</a>
    @if (Request.IsAuthenticated) {
        <div class="panel panel-default">
            <div class="panel-heading"><a href="@Url.Action( "Index", "Subscriptions" )">Your Subscriptions</a></div>
            <div class="panel-body">
                @foreach ( Subscription sub in Model ) {
                    if ( sub.OrgId != 0 && sub.CatId == 0 ) {
                        <a href="/@sub.Org.orgURL" class="sub"><img class="sub-org-icon" src="../Content/Images/orgicons/@(sub.Org.orgURL)_15.png">@sub.Org.orgName</a><br>
                    } else if ( sub.CatId != 0 ) {
                        <a href="/@sub.Org.orgURL/c/@sub.Category.catURL" class="sub"><img class="sub-org-icon" src="../Content/Images/caticons/@(sub.Category.catURL)_15.png">@sub.Category.catName</a><br>
                    } else {
                        <a href="/@sub.Topic.topicURL" class="sub"><img class="sub-org-icon" src="../Content/Images/topicicons/@(sub.Topic.topicURL)_15.png">@sub.Topic.topicURL</a><br>
                    }
                }
            </div>
        </div>
    }
    <div class="panel panel-default">
        <div class="panel-body">
            Ads go here.
        </div>
    </div>
</div>