
<div class="second-column">
    <div class="sub-list-box">
        <span class="subs-header">Y O U R&emsp;S U B S C R I P T I O N S</span>
        <div class="sub-list">
            <a href="OrgPage.html" class="sub"><img class="sub-org-icon" src="../Content/Images/orgicons/microsoft_15.png"></img>Microsoft</a><br>
            <a href="OrgPage.html" class="sub">&emsp;&emsp;<img class="sub-org-icon" src="../Content/Images/caticons/windows_15.png">Windows</a><br>
            <a href="OrgPage.html" class="sub">&emsp;&emsp;<img class="sub-org-icon" src="../Content/Images/caticons/surface_15.png">Surface</a><br>
            <a href="FrontPage.html" class="sub"><img class="sub-org-icon" src="../Content/Images/orgicons/apple_15.png"></img>Apple</a><br>
            <a href="FrontPage.html" class="sub"><img class="sub-org-icon" src="../Content/Images/orgicons/google_15.png"></img>Google</a><br>
            <a href="FrontPage.html" class="sub"><img class="sub-org-icon" src="../Content/Images/orgicons/sigsauer_15.png"></img>SIG Sauer</a><br>
        </div>
    </div>
    <div class="placeholder">
        Ads go here.
    </div>
</div>