@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {
        $('#orgBox').autocomplete({
            source: '@Url.Action("SearchOrgs_Cats", "Search")'
        });
    });
</script>

<script type="text/javascript">
    function appendAddTextButton() {
        // Get the fieldset we'll be adding to
        var fieldset = document.getElementById("add-issue-fieldset");
        // Create a paragraph container for our button to confirm a new submission
        var newsubmissionp = document.createElement("p");
        newsubmissionp.id = "new-sub-p";
        // Append it
        fieldset.appendChild(newsubmissionp);
        // Create our button
        var newsubmissionbutton = document.createElement("input");
        newsubmissionbutton.id = "new-submission-button";
        newsubmissionbutton.type = "button";
        newsubmissionbutton.name = "newsubmissionbutton";
        newsubmissionbutton.value = "Add this as a new submission";
        newsubmissionbutton.onclick = function () { confirmNewSubmission() };
        // Get the paragraph we made earlier and append the button
        document.getElementById("new-sub-p").appendChild(newsubmissionbutton);
        document.getElementById("title-input").removeAttribute("oninput");
    }

    function confirmNewSubmission() {
        // Get the fieldset we'll be adding to
        var fieldset = document.getElementById("add-issue-fieldset");
        // Remove the old button confirming a new submission
        document.getElementById("new-sub-p").remove();
        // Add our text field
        var textp = document.createElement("p");
        textp.id = "text-p";
        fieldset.appendChild(textp);
        var textlabel = document.createElement("label");
        textlabel.id = "text-label";
        textlabel.for = "text";
        textp.appendChild(textlabel);
        textlabel.innerHTML = "Explain your idea in-depth:";
        textp.appendChild(document.createElement("br"));
        var textinput = document.createElement("input");
        textinput.type = "text";
        textinput.name = "text";
        textinput.classList.add("add-issue-input");
        textinput.classList.add("add-issue-full-width");
        textinput.classList.add("add-issue-text-input");
        textinput.placeholder = "Explain your idea in-depth";
        textp.appendChild(textinput);
        // Add our submit button
        var submitp = document.createElement("p");
        submitp.id = "submit-p";
        fieldset.appendChild(submitp);
        var submitbutton = document.createElement("input");
        submitbutton.type = "submit";
        submitbutton.name = "buttonSubmit";
        submitbutton.value = "Add Issue";
        submitbutton.formAction = "@Url.Action("AddIssue", "Issue")";
        submitp.appendChild(submitbutton);
    }
</script>


<div class="first-column">
    <div class="first-column-box">
        <form method="post" style="margin-top:1em;">
            <fieldset id="add-issue-fieldset">
                <legend>Post a new idea, suggestion, or issue</legend>
                <p>
                    <label for="text">Company, person, or product:</label><br />
                    <input id="orgBox" class="add-issue-input add-issue-half-width" type="text" name="orgName" value="@Request.Form["orgName"]" placeholder="Enter a company, person, or product" />
                </p>
                <p>
                    <label for="text">Summary:</label><br />
                    <input id="title-input" class="add-issue-input add-issue-full-width" type="text" name="title" value="@Request.Form["title"]" oninput="appendAddTextButton()" placeholder="Search to see if your suggestion, idea, or issue has already been posted" />
                </p>
            </fieldset>
        </form>
    </div>
</div>
