@using Sigil.ViewModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sigil - Submit new feedback";
}

@model AddIssueVM

<script type="text/javascript">
    $(function () {
        $('#orgBox').autocomplete({
            source: '@Url.Action("SearchOrgs_Cats", "Search")'
        });
    });
</script>

<div class="col-md-9 col-lg-9">
    <h2>Post new feedback</h2>
    @using (Html.BeginForm("AddIssue", "Issue", FormMethod.Post, new { id = "add-issue-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="text">Company, person, or product:</label><br />
            <input id="orgBox" class="form-control" type="text" name="product" value="@Model.product.ProductName" placeholder="Enter a company, person, or product" />
        </div>
        <div class="form-group">
            <label for="text">Title:</label><br />
            <input id="title-input" class="form-control" type="text" name="title" value="@Model.title" placeholder="Summarize your feedback" />
        </div>
        <div class="form-group">
            <label for="text">Text:</label><br />
            <textarea id="title-input" class="form-control" type="text" name="text" placeholder="If you'd like, elaborate on your feedback in-depth"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" >Submit feedback</button>
        </div>
    }
</div>


