@using Sigil.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sigil - Legal";
}

<div class="first-column">
    <article class="first-column-box legal-body">
        <h3 class="first-column-header">Sigil would like to give attribution to:</h3>
        <p class="first-column-paragraph"><a href="http://ionicons.com/">ionicons</a> - Used under the <a href="https://en.wikipedia.org/wiki/MIT_License">MIT License</a>.</p>
        <p class="first-column-paragraph"><a href="https://dotnethighcharts.codeplex.com/">DotNet.Highcharts</a> - Used under the <a href="https://en.wikipedia.org/wiki/MIT_License">MIT License</a>.</p>
        <p class="first-column-paragraph">Photos obtained from <a href="https://stocksnap.io/">StockSnap.io</a> - Used under the <a href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons CC0 License</a>.</p>
    </article>
</div>
@Html.Partial( "../Shared/_SideBar", new Tuple<Org, List<Subscription>>( default(Org), Sigil.Controllers.AccountController.userSubs( User ) ) )