@using Sigil.ViewModels
@model UserViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sigil - Legal";
}

<div class="col-md-9 col-lg-9">
    <article class="panel panel-default">
        <div class="panel-body">
            <h3 style="margin-top:0px;">Sigil would like to give attribution to:</h3>
            <p><a href="http://ionicons.com/">ionicons</a> - Used under the <a href="https://en.wikipedia.org/wiki/MIT_License">MIT License</a>.</p>
            <p><a href="https://dotnethighcharts.codeplex.com/">DotNet.Highcharts</a> - Used under the <a href="https://en.wikipedia.org/wiki/MIT_License">MIT License</a>.</p>
            <p>Photos obtained from <a href="https://stocksnap.io/">StockSnap.io</a> - Used under the <a href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons CC0 License</a>.</p>
        </div>
    </article>
</div>
@{Html.RenderAction("_SideBar", "Shared");}