@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="first-column">
    <article class="legal-body">
        <h3>This website uses:</h3>
        <p><a href="http://ionicons.com/">ionicons</a> - Used under the <a href="https://en.wikipedia.org/wiki/MIT_License">MIT License</a>.</p>
        <p><a href="https://dotnethighcharts.codeplex.com/">DotNet.Highcharts</a> - Used under the <a href="https://en.wikipedia.org/wiki/MIT_License">MIT License</a>.</p>
    </article>
</div>