@using Sigil.ViewModels
@model ProductAdminIndexViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sigil - Change " + Model.thisProduct.ProductName + " URL";
}

<style>
    .container {
        max-width: 700px;
    }

    table {
        width: 100%;
    }

    td {
        width: 50%;
    }
</style>

<div class="container">
    <h2>Change URL of product: @Model.thisProduct.ProductName</h2>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="/@Model.thisOrg.orgURL/admin/">< Back to admin panel</a>
                    <table>
                        <tr>
                            <td><h4>Current product handle:</h4></td>
                            <td><h4>@Model.thisProduct.ProductURL</h4></td>
                        </tr>
                        <tr>
                            <td><h4>Example:</h4></td>
                            <td><h4><a href="/@Model.thisOrg.orgURL/@Model.thisProduct.ProductURL">http://www.sigil.tech/@Model.thisOrg.orgURL/@Model.thisProduct.ProductURL</a></h4></td>
                        </tr>
                    </table>
                    <br />
                    <h5>Handles may only be lowercase letters and numbers</h5>
                    @using ( Html.BeginForm( "ChangeProductURL", "Admin", new { orgURL = Model.thisOrg.orgURL, productURL = Model.thisProduct.ProductURL }, FormMethod.Post ) ) {
                        @Html.AntiForgeryToken();
                        <div class="form-group">
                            <input type="text" name="newURL" id="newURL" class="form-control" placeholder="New URL" />
                        </div>
                        <button type="submit" class="btn btn-primary">Submit new URL</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



