@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Roles Listing </h2>

@Html.ActionLink("Create New Role", "CreateRole", "Admin") | @Html.ActionLink("Manage User Role", "ManageUserRoles", "Admin")
<hr />
<div>
    @foreach (var role in Model)
    {
        <p>
            <strong>@role.Name | </strong>
            <span onclick="return confirm('Are you sure to delete?')"><a href="/Roles/Delete?RoleName=@role.Name">Delete</a></span> |
            @*@Html.ActionLink("Edit", "Edit", new { roleName = @role.Name })*@
        </p>
    }
</div>