<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"></meta>
	<link rel="stylesheet" type="text/css" href="Content.css"></link>
	<script type="text/javascript" src="Voting.js"></script>
</head>
<body class="page">
	<div class="page-container">
		<section class="page-header">
			<a href="FrontPage.html" class="logo"><img src="../Content/Images/logo-small.png"></img></a>
			<nav class="header-link-container">
				<form class="search-box-form">
					<button class="search-submit-button" type="submit"><img src="../Content/Images/search-icon-small.png"></img></button>
					<input class="search-query" type="text" placeholder="Search for a company, organization, or person"></input>
				</form>
				<a href="FrontPage.html" class="header-link"><img class="header-user-icon" src="../Content/Images/usericons/nervecenter_large.png"></img>Nerve</a>
				<a href="FrontPage.html" class="header-link">Log Out</a>
			</nav>
		</section>
		<section class="main">
			<div class="first-column">
				<span class="feed-intent">Nerve's feed</span>
				<article class="issue-box">
					<div class="issue-vote-area">
						<span class="issue-vote-amount" id="count-1">40</span>
						<img class="issue-vote-button unchecked" id="button-1" src="../Content/Images/vote_circle_small.png" onclick="vote(this, 1)" onmouseover="votehover(this)" onmouseout="voteunhover(this)"></img>
					</div>
					<div class="issue-main-area">
						<div class="issue-main-cell">
							<div class="issue-title-area"><a href="IssuePage.html" class="issue-title">The process involved in upgrading is the most frustrating thing ever, please give more thorough direction regarding blah blah blah.</a></div>
							<div class="issue-info-area">
								<span class="issue-org-cat-topic">
									<img class="issue-info-icon" src="../Content/Images/orgicons/microsoft_20.png"></img>Microsoft : 
									<img class="issue-info-icon" src="../Content/Images/caticons/windows_20.png"></img>Windows
									in Operating Systems
								</span>
								<span class="issue-user-date">3 days ago by 
									<img class="issue-info-icon" src="../Content/Images/usericons/nervecenter_20.png"></img>Nerve
								</span>
							</div>
						</div>
					</div>
				</article>
				<article class="issue-box">
					<div class="issue-vote-area">
						<span class="issue-vote-amount" id="count-2">27</span>
						<img class="issue-vote-button unchecked" id="button-2" src="../Content/Images/vote_circle_small.png" onclick="vote(this, 2)" onmouseover="votehover(this)" onmouseout="voteunhover(this)"></img>
					</div>
					<div class="issue-main-area">
						<div class="issue-main-cell">
							<div class="issue-title-area"><a href="IssuePage.html" class="issue-title">Yo, that Surface is really cool, but it'd be better if it could run Crysis.</a></div>
							<div class="issue-info-area">
								<span class="issue-org-cat-topic">
									<img class="issue-info-icon" src="../Content/Images/orgicons/microsoft_20.png"></img>Microsoft : 
									<img class="issue-info-icon" src="../Content/Images/caticons/surface_20.png"></img>Surface 
									in Consumer Electronics
								</span>
								<span class="issue-user-date">4 days ago by 
									<img class="issue-info-icon" src="../Content/Images/usericons/mcdiddles69_20.png"></img>mcdiddles69
								</span>
							</div>
						</div>
					</div>
				</article>
			</div>
			<div class="second-column">
				<div class="sub-list-box">
					<span class="subs-header">Y O U R&emsp;S U B S C R I P T I O N S</span>
					<div class="sub-list">
						<a href="OrgPage.html" class="sub"><img class="sub-org-icon" src="../Content/Images/orgicons/microsoft_15.png"></img>Microsoft</a><br>
						<a href="OrgPage.html" class="sub">&emsp;&emsp;<img class="sub-org-icon" src="../Content/Images/caticons/windows_15.png">Windows</a><br>
						<a href="OrgPage.html" class="sub">&emsp;&emsp;<img class="sub-org-icon" src="../Content/Images/caticons/surface_15.png">Surface</a><br>
						<a href="FrontPage.html" class="sub"><img class="sub-org-icon" src="../Content/Images/orgicons/apple_15.png"></img>Apple</a><br>
						<a href="FrontPage.html" class="sub"><img class="sub-org-icon" src="../Content/Images/orgicons/google_15.png"></img>Google</a><br>
					</div>
				</div>
				<div class="placeholder">
					Ads go here.
				</div>
			</div>
		</section>
	</div>
	<div class="footer-container">
		<section class="page-footer">
			<div class="footer-column">
				<a href="FrontPage.html"><img src="../Content/Images/logo-small.png"></img></a><br>
				<a href="FrontPage.html" class="tagline">The Feedback Destination</a>
				<p class="address">
					12345 Some St.
					<br></br>
					Tampa FL, 33333
				</p>
			</div>
			<div class="footer-column">
				<ul class="footer-list">
					<li><a href="FrontPage.html" class="footer-list-item">About</a></li>
					<li><a href="FrontPage.html" class="footer-list-item">Legal</a></li>
					<li><a href="FrontPage.html" class="footer-list-item">Advertise</a></li>
					<li><a href="FrontPage.html" class="footer-list-item">Support</a></li>
				</ul>
			</div>
			<div class="footer-column">
				<ul class="footer-list">
					<li><a href="FrontPage.html" class="footer-list-item">Twitter</a></li>
					<li><a href="FrontPage.html" class="footer-list-item">Facebook</a></li>
					<li><a href="FrontPage.html" class="footer-list-item">Blog</a></li>
					<li><a href="FrontPage.html" class="footer-list-item">Release Notes</a></li>
					<br>
					<li><a href="http://asp.net" class="aspnet">Powered by ASP.NET</a></li>
				</ul>
			</div>
		</section>
	</div>
</body>
</html>